@{
    ViewData["Title"] = "Lista de Cadastros";
}


<div class="text-center">

    <div class="text-start">
        <a role="button" class="btn btn-secondary">Novo Cadastro</a>
    </div>
    <br />


    <h2 class="display-4">Contatos cadastrados</h2>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Telefone</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>mdo</td>
      <td>
          <div>
               <a role="button" class="btn btn-dark">Alterar</a>
               <a role="button" class="btn btn-dark">Apagar</a>
          </div>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>fat</td>
      <td>
          <div>
               <a role="button" class="btn btn-dark">Alterar</a>
               <a role="button" class="btn btn-dark">Apagar</a>
          </div>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry the Bird</td>
      <td>Thornton</td>
      <td>twitter</td>
       <td>
          <div>
               <a role="button" class="btn btn-dark">Alterar</a>
               <a role="button" class="btn btn-dark">Apagar</a>
          </div>
      </td>
    </tr>
  </tbody>
</table>

</div>